<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Teahing</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">

                <form method="POST" action="/updateStatement" class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">ID</label>
                        <input type="text" class="form-control" name="id" value="{{statement.id}}" id="form"
                            aria-label="readonly input example" readonly>

                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Όνομα αιτούμενου</label>
                        <input type="text" class="form-control" name="name" value="{{statement.name}}" id="form"
                            aria-label="readonly input example" readonly>

                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Ημερομηνία</label>
                        <input type="text" class="form-control" name="date"
                            value="{{statement.date}}" id="form"
                            aria-label="readonly input example" readonly>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Οριστικότητα</label>
                        <select class="form-select" id="form" name="final">
                            <option value="true">Οριστικό</option>
                            <option value="false">Ελεύθερη επεξεργασία</option>
                        </select>
                        <div class="invalid-feedback">
                            Επέλεξε ξανά
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Προσθήκη Σχόλιου</label>
                        <input type="text-field" class="form-control" name="comment"
                            value="{{statement.comment}}" id="form">
                    </div>
                    
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Αλλαγή κατάστασης αίτησης</label>
                        <select class="form-select" id="form" name="status">
                            <option class="text-success" value="1">Αποδεκτή</option>
                            <option class="text-warning" value="2">Υπο εξέταση</option>
                            <option class="text-danger" value="3">Απορριφθείσα</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Υποβολή επεξεργασίας</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</body>

</html>