body{
	background-color: #00b5c5;
}

#viewport {
	padding-left: 250px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  

  
  /* Sidebar Styles */
  
  #sidebar {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 340px;
	height: 50%;
	margin-left: -240px;
	overflow-y: auto;
	background: #31324a;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #sidebar header {
	background-color: #31324a;
	font-size: 20px;
	line-height: 52px;
	text-align: center;
  }
  
  #sidebar header a {
	color: #fff;
	display: block;
	text-decoration: none;
  }
  
  #sidebar header a:hover {
	color: #fff;
  }
  
 
  
  #sidebar .nav a{
	background: none;
	border-bottom: 1px solid #31324A;
	color: #CFD8DC;
	font-size: 14px;
	padding: 16px 24px;
  }
  
  #sidebar .nav a:hover{
	background: none;
	color: #ECEFF1;
  }
  
  #sidebar .nav a i{
	margin-right: 16px;
  }

  #ca{
	color: black;

  }